          <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            <div {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 100vw"{% endif %}>
              {%- assign news = site.news | reverse -%}
              {% if include.limit and site.announcements.limit %}
              {% assign news_limit = site.announcements.limit %}
              <table class="news">
              {% for item in news limit: news_limit %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
              
              {% else %}
              {% assign news_limit = news_size %}
			  <h3>2023:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2023" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>

			  <h3>2022:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2022" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>

			  <h3>2021:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2021" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>
              
			  <h3>2020:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2020" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>
              
			  <h3>2019:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2019" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>
              
			  <h3>2018:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2018" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>
              
			  <h3>2017:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2017" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>
              
			  <h3>2016:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2016" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>
              
			  <h3>2015:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2015" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>                                                                                    
              
			  <h3>2014:</h3>
              <table class="news">
              {% for item in news limit: news_limit %}
              {% capture year %}{{ item.date | date: "%Y"}}{% endcapture %}
              {% if year == "2014" %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y:" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {% endif %}            
              {%- endfor %}
              </table>               
              

              {% endif %}
            
            
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>